.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.address{
  font-weight: 300;
  font-style: italic;
}

.description{
  max-width: 860px;
}

.buttonWrapper{
  display: flex;
  justify-content: space-around;
}

.button{
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #0070f3; 
  border-radius: 3px; 
}
